<h1>Listing missions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Specialty</th>
    <th>Status</th>
    <th>Reward</th>
    <th>Agent</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @missions.each do |mission| %>
  <tr>
    <td><%= mission.title %></td>
    <td><%= mission.description %></td>
    <td><%= show_specialty(mission.specialty) %></td>
    <td><%= status_mission(mission.status) %></td>
    <td><%= mission.reward %></td>
    <% if mission.agent %>
    <td><%= mission.agent.name %></td>
    <% else %>
    <td></td>
    <% end %>
    <td><%= link_to 'Show', mission %></td>
    <td><%= link_to 'Edit', edit_mission_path(mission) %></td>
    <td><%= link_to 'Destroy', mission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% if mission.realizable? %>
    <td><%= link_to 'Resolver', solve_mission_path(mission) %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mission', new_mission_path %>
<%= link_to 'Headquarters', headquarters_path %>