<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @mission.title %>
</p>

<p>
  <b>Description:</b>
  <%= @mission.description %>
</p>

<p>
  <b>Status:</b>
  <%= status_mission(@mission.status) %>
</p>

<p>
  <b>Reward:</b>
  <%= @mission.reward %>
</p>

<p>
	<b>Agents:</b>
  <ul>
    <% @free_agents.each do |agent| %>
      <li><%= agent.name %></li>
    <% end %>
  </ul>
</p>


<%= form_for(@mission) do |f| %>
  <div class="field">
  <%= f.label :agent %><br />
    <%= f.select :agent, @free_agents,
      prompt: 'Selecciona un agente' %>
  </div>
  <div class="actions">
    <%= f.submit 'Iniciar misión' %>
  </div>
<% end %>


<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
