<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @mission.title %>
</p>

<p>
  <b>Description:</b>
  <%= @mission.description %>
</p>

<p>
<b>Specialty:</b>
<%= show_specialty(@mission.specialty) %>
</p>

<p>
  <b>Status:</b>
  <%= status_mission(@mission.status) %>
</p>

<p>
  <b>Reward:</b>
  <%= @mission.reward %>
</p>

<% if @mission.status.eql?(0) %>
  <%= form_for(@mission) do |f| %>
    <div class="field">
      <%= f.label :agent_id %><br />
      <%= f.select :agent_id, @free_agents.map{ |a| [a.name, a.id]},
        prompt: 'Selecciona un agente' %>
    </div>
    <div class="actions">
      <%= f.submit 'Iniciar misión' %>
    </div>
  <% end %>
<% end %>

<% if @mission.status.eql?(1) %>
<p>
  <b>Agent:</b>
  <%= @mission.agent.name %>, <%= show_specialty(@mission.agent.kind) %>
</p>
<% end %>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
