<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @mission.title %>
</p>

<p>
  <b>Description:</b>
  <%= @mission.description %>
</p>

<p>
  <b>Status:</b>
  <%= status_mission(@mission.status) %>
</p>

<p>
  <b>Reward:</b>
  <%= @mission.reward %>
</p>

<p>
	<b>Agents:</b>
	<% @agent.each do |agent| %>
		<% if agent.free %>
			<%= agent.name %>
		<% end %>
	<% end %>
</p>


<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
