<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @mission.title %>
</p>

<p>
  <b>Description:</b>
  <%= @mission.description %>
</p>

<p>
  <b>Type:</b>
  <%= @mission.type %>
</p>

<p>
  <b>Status:</b>
  <%= @mission.status %>
</p>

<p>
  <b>Reward:</b>
  <%= @mission.reward %>
</p>

<p>
  <b>Agent:</b>
  <%= @mission.agent %>
</p>


<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
