<h1>Listing agents</h1>


<table>
  <tr>
    <th>Name</th>
    <th>Kind</th>
    <th>Level</th>
    <th>Status</th>
    <th>Contracted</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agents.each do |agent| %>
  <tr>
    <td><%= agent.name %></td>
    <td><%= show_specialty(agent.kind) %></td>
    <td><%= agent.level %></td>
    <td><%= status_agent(agent.free) %></td>
    <td><%= contracted(agent.player_id) %></td>
    <td><%= link_to 'Show', agent %></td>
    <td><%= link_to 'Edit', edit_agent_path(agent) %></td>
    <td><%= link_to 'Destroy', agent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% if agent.contractable? and @player.with_money? %>
    <td><%= link_to 'Contratar', contract_agent_path(agent) %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agent', new_agent_path %>
<%= link_to 'Headquarters', headquarters_path %>
