<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @agent.name %>
</p>

<p>
  <b>Kind:</b>
  <%= show_specialty(@agent.kind) %>
</p>

<p>
  <b>Level:</b>
  <%= @agent.level %>
</p>


<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
