<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Base de operaciones</h1>
<h3>Misiones</h3>
<% @missions.each do |mission| %>
	<div class="entry">
		<b><%= mission.title %></b>
		<%= mission.reward %>
		<%= status_mission(mission.status) %>
	</div>
<% end %>

<h3>Agentes</h3>
<% @agents.each do |agent| %>
	<div class="entry">
		<b><%= agent.name %></b>
		<%= agent.level %>
		<%= status_agent(agent.on_mission) %>
	</div>
<% end %>

<%= link_to 'Agentes', agents_path %>
<%= link_to 'Misiones', missions_path %>